@model List<CarDetails>

<h2>Szczegóły samochodu</h2>
@foreach (var st in Model)
    {
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/cars/carupdate/@st.IdCar">Aktualizuj dane</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/cars/refuelingadd/@st.IdCar">Dodaj tankowanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cars/refuelinghistory/@st.IdCar">Historia tankowania</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cars/Serviceadd/@st.IdCar">Dodaj czynność serwisową</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cars/Servicehistory/@st.IdCar">Historia serwisowa</a>
            </li>
        </ul>


        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="/cars/refuelingadd/@st.IdCar" class="btn btn-primary">Dodaj tankowanie</a>
                <a href="/cars/refuelinghistory/@st.IdCar" class="btn btn-primary">Historia tankowania</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a href="/cars/Serviceadd/@st.IdCar" class="btn btn-primary">Dodaj czynność serwisową</a>
                <a href="/cars/Servicehistory/@st.IdCar" class="btn btn-primary">Historia serwisowa</a>
            </div>
        </div>
        <br />
        <dl class="row">
            <dt class="col-sm-3">Marka</dt>
            <dd class="col-sm-9">@st.Make</dd>

            <dt class="col-sm-3">Model</dt>
            <dd class="col-sm-9">@st.Model</dd>

            <dt class="col-sm-3">Stan licznika</dt>
            <dd class="col-sm-9">@st.InitialMileage</dd>

            <dt class="col-sm-3">Badanie techniczne ważne jeszcze</dt>
            <dd class="col-sm-9">@st.DayTechExam dni do @st.TermTechExam</dd>

            <dt class="col-sm-3">Ubezpieczenie OC ważne jeszcze</dt>
            <dd class="col-sm-9">@st.DayOC dni do @st.TermOC</dd>

            <dt class="col-sm-3">Typ paliwa</dt>
            <dd class="col-sm-9">@st.FuelType</dd>

 
        </dl>
            
            
        
    }
