@model List<CarDetails>

<h2>Szczegóły samochodu</h2>
@foreach (var st in Model)
    {
        
            
            <p>Marka: @st.Make</p>
            <p>Model: @st.Model</p>
            <p>Przebieg: @st.InitialMileage</p>
            <p>Termin następnego badania: @st.TermTechExam</p>
            <p>Koniec ubezpieczenia OC: @st.TermOC</p>
            <p>Typ paliwa: @st.FuelType</p>
            <a href="/cars/refuelingadd/@st.IdCar" class="btn btn-primary">Dodaj tankowanie</a>
            <a href="/cars/refuelinghistory/@st.IdCar" class="btn btn-primary">Historia tankowania</a>
            <br /> <br />
            <a href="/cars/Serviceadd/@st.IdCar" class="btn btn-primary">Dodaj czynność serwisową</a>
            <a href="/cars/Servicehistory/@st.IdCar" class="btn btn-primary">Historia serwisowa</a>
        
    }
