@model List<RefuelingHistory>

<h1>Historia tankowania</h1>
<br />

<table class="table">
    <thead class="thead-light">
    <tr>
        <th>Ilość [l]</th>
        <th>Cena [zł]</th>
        <th>Koszt [zł]</th>
        <th>Data</th>
        <th>Przebieg [km]</th>
        <th>Spalanie [l/100km]</th>
    </tr>
    @foreach (var st in Model)
    {
        <tr>
            <td>@st.fuelQquantity</td>
            <td>@st.price</td>
            <td>@st.cost</td>
            <td>@st.date</td>
            <td>@st.milage</td>
            <td>@st.fuelUsage</td>
        </tr>
    }
</table>
