@model List<ServiceHistory>

<h1>Historia serwisowa</h1>
<br />

<table class="table">
    <thead class="thead-light">
    <tr>
        <th>Rodzaj czynności</th>
        <th>Opis</th>
        <th>Data</th>
        <th>Przebieg</th>
        <th>Koszt</th>
    </tr>
    @foreach (var st in Model)
    {
        <tr>
            <td>@st.type</td>
            <td>@st.description</td>
            <td>@st.date</td>
            <td>@st.milage</td>
            <td>@st.price</td>
        </tr>
    }
</table>
